action {
    background-color: #6c7e73;
  }
  
button{
  border-radius: 22px;
}

  legend {
    background-color: rgb(12, 1, 1);
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }